<!-- End Service Section -->

            <!-- Contact US Start -->
            <section class="contact">
                <div class="container text-center py-5">
                  <h1>Let's Get in Touch!</h1>
                  <p>Food Box have 24*7 available to you </p>
                  <i class="fa fa-phone myicon text-warning "></i>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <i class="fa fa-heart myicon text-danger"></i>
                  <p>+91 9308099961</p>
                  <p>www.foodbox.com</p>
  
                </div>
              </section>